<h1>Subscriptions#signup</h1>
<%= form_tag subscriptions_signup_path do %>
  <label for="answer">2+2=</label>
  <%= text_field_tag :answer %>
 <%= submit_tag "Submit" %>
<% end %>
<p>Find me in app/views/subscriptions/signup.html.erb</p>
